body{
    margin: 20px;
    background-color: bisque;
}
.contain{
    text-align: center;
}

#tabs{
    display: flex;
    justify-content: center;
}

.form-control{
    width: 400px;
    margin-bottom: 20px;
}

.table{
    margin: 0px;
}

.btn-info{
    margin-bottom: 30px;
    font-weight: 600;
}
